<div class="card">
  <div class="card-header">
    Nuevo Libro
  </div>
  <div class="card-body">
    <%= render 'form', book: @book %>
  </div>
  <div class="card-footer">
    <%= link_to 'Regresar', books_path %>
  </div>
</div>